

  <% @products.each do |product| %>
      <h2><a href="/products/<%= product.id %>"> Name: <%= product.name %></a></h2>
      <h4>Price: <%= product.price %></h4>
      <h2>Description: <%= product.description %></h2>

  <% end %>

